    <div id="content">
        <p id="next"><a href="/" class="button">Next</a></p>
        <p id="prev"><a href="/" class="button">Prev</a></p>
        <p id="sync"><input type="text" class="text" value="1" /><a href="/" class="button">Sync</a></p>
        <p id="logout"><a href="/logout" class="button">Logout</a></p>
    </div>
