<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=480, user-scalable=no, maximum-scale=0.6667" />
<% if (session.verified) { %>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/src/client.js"></script>
<% } %>
    <link type="text/css" rel="stylesheet" href="/css/client.css" />
    <title>SSS Controller</title>
</head>

<body>
<%- body %>
</body>
</html>
