    <form method="post" action="/login">
        <p>
            id:<input type="text" name="id" /><br />
            password:<input type="password" name="password" />
        </p>
        <p><input type="submit" value="Login" /></p>
    </form>
